@page "/authors/overview"
@using Application
@using Microsoft.AspNetCore.Authorization

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@* @attribute [Authorize] *@
@* @attribute [Authorize(Roles = RoleConstants.User)] *@
@* @attribute [Authorize(Policy = PolicyConstants.IsAtLeastProfessionEmployee)] *@


<AuthorizeView Policy="@PolicyConstants.IsAtLeastProfessionEmployee">
    <Authorized>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @onclick="NavigateToAuthorNew">Neuer Autor</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>Du kommst hier nicht rein</div>
    </NotAuthorized>
</AuthorizeView>

<div class="row">
    <div class="col">
        <AuthorTable AuthorViewModels="AuthorsVm" OnAuthorDelete="DeleteAuthor"></AuthorTable>
    </div>
</div>