@page "/authors/overview"
@using Application
@using Microsoft.AspNetCore.Authorization

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@* @attribute [Authorize] *@
@attribute [Authorize(Roles = RoleConstants.User)]

<div class="row">
    <div class="col">
        <button class="btn btn-primary" @onclick="NavigateToAuthorNew">Neuer Autor</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <AuthorTable AuthorViewModels="AuthorsVm" OnAuthorDelete="DeleteAuthor"></AuthorTable>
    </div>
</div>